# Clé API pour Football-Data.org
# Obtenez votre clé gratuite sur: https://www.football-data.org/
# Après inscription, vous obtenez une clé gratuite (limitée à 10 requêtes/minute)
REACT_APP_FOOTBALL_DATA_KEY=votre_cle_api_ici

# Clé API pour API-Football (RapidAPI)
# Obtenez votre clé sur: https://rapidapi.com/api-sports/api/api-football
# Plan gratuit disponible (100 requêtes/jour)
REACT_APP_API_FOOTBALL_KEY=votre_cle_rapidapi_ici

